h1 {
  text-align: center;
}

div {
  /*background-color: #A52A2A;*/
  border: 2px solid black;
  width: 90%;
  
  margin-right: auto;
  margin-left: 1.5%;
  margin-bottom: 1.5%;
  font-family: Helvetica;
  color: rgb(91, 40, 185);
  padding: 10px;
}
.p4{
  position:relative;
  /*width :200px;
  height :30px;
  background-color: rgb(142, 228, 120);
  color :red;
  right :0px;
  top :0px;*/
}